.auth-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 3vw, 35px);
}

.auth-card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  padding: clamp(26px, 2vw, 42px);
  width: clamp(340px, 40vw, 500px);
  animation-duration: .8s;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.logo-img {
  width: clamp(55px, 6vw, 72px);
  margin-bottom: 14px;
}

.auth-subtitle {
  font-size: 15px;
  color: var(--text-light);
}

@media(max-width: 400px) {
  .auth-card {
    padding: 18px;
  }
  .form-label {
    font-size: 13px;
  }
}
