.dashboard-navbar {
  width: 100%;
  padding: 18px 26px;
  background: #ffffffd8;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 4.5rem;
  width: auto;
  object-fit: contain;
  filter: none; 
}

.nav-center {
  text-align: center;
}

.nav-center h2 {
  margin: 0;
  font-weight: 800;
  font: 13px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.user-avatar {
  width: 42px;
  height: 42px;
  background: #1e40af;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.25s;
}

.user-avatar:hover {
  transform: scale(1.07);
}

/* DROPDOWN BOX */
.user-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  background: #fff;
  padding: 14px 16px;
  border-radius: 12px;
  min-width: 150px;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.06);

  animation: fadeIn 0.2s ease-out;
  z-index: 9999;
}

.dropdown-role {
  font-weight: 700;
  color: #1e40af;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 10px;
}

.dropdown-logout {
  width: 100%;
  background: #ef4444;
  color: #fff;
  padding: 8px 11px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.dropdown-logout:hover {
  background: #dc2626;
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE */
@media (max-width: 650px) {
  .dashboard-navbar {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 14px;
  }

  .nav-right {
    justify-content: center;
  }
}

.user-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.user-avatar:hover {
  transform: scale(1.07);
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-welcome{
    font-size: 1.3rem;  
}