.auth-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background same as login for full screen */
  background: linear-gradient(135deg, #0052d4, #4364f7, #6fb1fc);
  padding: 20px;
}
